<ion-app>
    <ion-menu side="start" menuId="first" contentId="content1">
        <ion-header>
          <ion-toolbar>
            <ion-title>Admission</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
         <!--  	<ion-icon name="mail" slot="start"></ion-icon> -->
          	<a href="/personalinformation">Application Form</a>
          	
          </ion-item>
           <ion-item>
         <!--  	<ion-icon name="mail" slot="start"></ion-icon> -->
          
         <a href="/applicationform">Application Status</a>
          	
          </ion-item>
           <ion-item>
         <!--  	<ion-icon name="mail" slot="start"></ion-icon> -->
          	
         <a href="/payment">Payment</a>
          </ion-item>
          
             <ion-item>
              <!--  	<ion-icon name="mail" slot="start"></ion-icon> -->
                 
              <a href="/mainpage2">Feedback</a>
               </ion-item>
             
               <ion-item>
                <!--  	<ion-icon name="mail" slot="start"></ion-icon> -->
                   
                <a href="/home">Logout</a>
                 </ion-item>
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>